*{
    margin: 0;
    padding: 0;
    list-style: none;
    
}

header{
    padding: 4rem;
    background-color:black;
}

nav ul{
    display: flex;/*Deixando itens lado a lado*/
    justify-content: center;/*Centralizando*/
}

nav ul li{
    margin-right: 20px;
    font-size: 25px;
}

nav ul li a{
    text-decoration: none;
    color: white
}

nav ul li a:hover{
    transition: 0.9s;
    color: rgb(162, 0, 255);
}

.home{
    padding: 18rem;
    background-image: url(./image/Iphone-14.jpg);
    background-position: center;
    background-size: cover;
}

.home h1{
    font-size: 3.3rem;
    margin-top: -5rem;
}

.home p{
    font-size: 1.3rem;
    margin: 20px auto;
}

.home a button{
    padding: 10px;
    width: 16rem;
    color: white;
    background-color: rgb(162, 0, 255);
    border: none;
}

.home a button:hover{
    transition: 0.9s;
    color: white;
    background-color: rgb(85, 85, 241);
    cursor: pointer;
}

.home span{
    color: rgb(162, 0, 255);
}

.lorem{
    padding: 15rem;
    background-color: black;
    color: white;
    font-size: 25px;
    display: flex;
    text-align: center;
}

.apple-watch{
    padding: 18rem;
    background-image: url(./image/hand2.jpg);
    background-size: cover;
    background-position: center;
}

.informacoes-watch{
    color: white;
    padding: 2rem;
    text-align: center;
    margin-top: -20rem;
}

.informacoes-watch h2{
    font-size: 3rem;
}

.informacoes-watch p{
    margin: 1.8rem auto;
    font-size: 1.5rem;
}

.informacoes-watch button{
    padding: 10px;
    width: 10rem;
    border-radius: 50px;
    border-style: solid;
    border-color: #0071e3;
    background-color: black;
    color:#0071e3;
}

.informacoes-watch button:hover{
    background-color: #0071e3;
    color: white;
    transition: 0.9s;
}